{% extends 'base.html.twig' %}

{% block title %}Nouvelle Formation{% endblock %}

{% block body %}
<div class="creationFormation">
    <h1>Creer une nouvelle formation</h1>

    <div>
        <a href="{{ path('app_langage_new') }}">Ajouter un langage</a>
    </div>

    {{ include('formation/_form.html.twig') }}


<div class="retourListe">
    <a href="{{ path('app_formation_browse') }}">retour</a>
</div>
    
    </div>
{% endblock %}
