<h1>Bonjour</h1>

<p>
    Merci de valider votre adresse email en cliquant ce lien <br><br>
    <a href="{{ signedUrl }}">Confirmer mon mail</a>.
    Ce lien va expirer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Toute l'équipe du site du Premier vous remercie.
</p>