{% extends 'base.html.twig' %}

{% block title %}Site du premier++{% endblock %}

{% block body %}

    <div id="corpsIndex">

        <div class="blocOrange">
            <div class="imgOrange">
                <img src="/assets/img/imgIndex/coding_index.jpg" alt="">
            </div>
            <div class="infoOrange">
                <h1>
                    <span class="bgstyle">
                        <span>
                            Votre futur commence <br>
                            sur ce site.
                        </span>
                    </span>
                </h1>
                <p>
                    Apprenez à apprendre. <br>
                    Découvrez et révélez vos compétences. <br>
                    Et devenez le Dieu de ce monde.
                </p>
                <button>Voir les cours</button>
            </div>
        </div>

        <div class="blocVideo">
            <div class="infoVideo">
                <h3>
                    <span>
                        Des cours innovants
                    </span>
                </h3>
                <p>
                    Découvrez des formations comme vous n'en avez encore jamais vu. <br>
                    Voici Rick, encore SDF il y a 2 mois. Grâce à nos cours, il a su relever les étapes de la vie
                    et est désormais aujourd'hui PDG de LDLC. <br>
                    Découvrez son histoire.
                </p>
                <button>
                    <a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">En savoir plus</a>
                </button>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hbBElcK-sxo"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>

        <div class="blocContact">
            <div class="imgContact">
                <img src="/assets/img/imgIndex/contactImg.jpg" alt="">
            </div>
            <div class="infoContact">
                <h3>Nous sommes là pour vous aider.</h3>
                <p>Vous avez une question ? Nous ne vous répondrons sûrement pas, mais essayez quand même de nous
                    envoyer un mail ^^. <br>
                    Entre deux pauses café, quelques minutes de notre précieux temps se libérera
                    peut-être !
                </p>
                <a target="_blank" href="https://www.youtube.com/watch?v=hbBElcK-sxo&ab_channel=SteveLeboss">
                    <img src="/assets/img/imgIndex/envelope.png" alt="">
                    Nous écrire
                </a>
            </div>
        </div>

    </div>

    <h5 class="osefMdr">Hello {{ controller_name }}! ✅</h5>
{% endblock %}