{% extends 'base.html.twig' %}

{% block title %}Ajoute un langage{% endblock %}

{% block body %}

    <div class="creerLangage">

        <h1>Créer un nouveau langage</h1>
        {{ include('langage/_form.html.twig') }}
        <div class="btnRetourListe">
            <a href="{{ path('app_formation_new') }}">Retour à la liste des cours</a>
        </div>

    </div>

{% endblock %}