{% extends 'base.html.twig' %}

{% block title %}Validation de l'adresse mail{% endblock %}

{% block body %}


<div class="validationEmail">
    <h1>
        Merci pour votre enregistrement !
        <span class="bordureConnexion"></span>
    </h1>
    <p>Un mail vous a été envoyé. Merci de cliquer sur le lien, dans un délai de <span>1 heure maximum</span> pour finaliser votre inscription.</p>
    <p>À tout de suite sur le <span class="siteZero">Site du zéro++</span> !</p>
</div>


{% endblock %}
